@(content: Html)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stangenberg Software</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/stangenberg/stangenberg.css")">
        <link rel="apple-touch-icon" sizes="180x180" href="@routes.Assets.versioned("favicons/apple-touch-icon.png")">
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("favicons/favicon-32x32.png")" sizes="32x32">
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("favicons/favicon-16x16.png")" sizes="16x16">
        <link rel="manifest" href="@routes.Assets.versioned("favicons/manifest.json")">
        <link rel="mask-icon" href="@routes.Assets.versioned("favicons/safari-pinned-tab.svg")" color="#5bbad5">
        <link rel="shortcut icon" href="@routes.Assets.versioned("favicons/favicon.ico")">
        <meta name="apple-mobile-web-app-title" content="Stangenberg Software">
        <meta name="application-name" content="Stangenberg Software">
        <meta name="msapplication-config" content="@routes.Assets.versioned("favicons/browserconfig.xml")">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        @content
    </body>
</html>
